<p-toast/>
<app-form-wrapper>
  <div form-title i18n>
    Welcome Back
  </div>
  <div form-header>
    <span i18n class="text-600 font-medium line-height-3">Don't have an account?</span>
    <a i18n class="ml-2" routerLink="/register">Create today!</a>
  </div>
  <form form-content [formGroup]="loginForm" (ngSubmit)="login()">
    <label i18n for="tag" class="block text-900 font-medium mb-2">Brawl Stars Tag</label>
    <p-inputgroup class="mb-3">
      <p-inputgroup-addon>
        #
      </p-inputgroup-addon>
      <input
      pInputText
      id="tag"
      name="tag"
      placeholder="ABC123DE"
      pKeyFilter="alphanum"
      formControlName="tag">
    </p-inputgroup>

    <label i18n for="password" class="block text-900 font-medium mb-2">Password</label>
    <input
    pInputText
    id="password"
    name="password"
    type="password"
    i18n-placeholder
    placeholder="Password"
    class="w-full mb-3"
    [pKeyFilter]="blockSpace"
    formControlName="password">

    @if(
      (loginForm.invalid && (loginForm.dirty || loginForm.touched)) ||
      invalidCredentials
    ){
      <div class="alert mb-3">
        @if(invalidCredentials){
          <div i18n>
            Invalid credentials
          </div>
        }
        @else if(loginForm.controls.tag.invalid){
          @if(loginForm.controls.tag.hasError('required')){
            <div i18n>
              Tag is required
            </div>
          }
          @else if (loginForm.controls.tag.hasError('minlength')) {
            <div i18n>
              Tag must be at least 4 characters long.
            </div>
          }
          @else if (loginForm.controls.tag.hasError('maxlength')) {
            <div i18n>
              Tag must not exceed 20 characters in length.
            </div>
          }
        }
        @else if (loginForm.controls.password.invalid) {
          @if(loginForm.controls.password.hasError('required')){
            <div i18n>
              Password is required
            </div>
          }
          @else if (loginForm.controls.password.hasError('minlength')) {
            <div i18n>
              Password must be at least 6 characters long.
            </div>
          }
          @else if (loginForm.controls.password.hasError('maxlength')) {
            <div i18n>
              Password must not exceed 32 characters in length.
            </div>
          }
        }
      </div>
    }

    <div class="flex align-items-center justify-content-between mb-5">
      <a i18n class="ml-2 internal_link" (click)="showForgotPasswordInstructions = true">Forgot password?</a>
    </div>

    <app-info-card [(show)]="showForgotPasswordInstructions">
      <div card-title i18n>Recover password</div>
      <p i18n class="text-xl">1. Sign in via Telegram</p>
      <p i18n>
        If you had your Telegram account connected, then you can try to sign in from our Telegram Mini-App,
        by <a [href]="'https://t.me/' + botUsername + '?startapp'" target="_blank">clicking here</a>.
        You should open the Mini-App, using the account you connected.
        <br><br><b>Hint:</b> Your Telegram account was automatically connected if you registered in the Mini-App, not on the website.
      </p>
      <p i18n class="text-xl">2. Update your password</p>
      <p i18n>When signed in the Telegram Mini-App, go to <i>Settings > Update password</i>. There you will be able to choose a new password.</p>
    </app-info-card>

    <button i18n pButton type="submit" class="w-full" [disabled]="loginForm.invalid" [loading]="loading">Sign In</button>
  </form>

</app-form-wrapper>