<p-toast/>
<app-form-wrapper>
  <div form-title i18n>
    Create an account
  </div>
  <div form-header>
    <span i18n class="text-600 font-medium line-height-3">Already have an account?</span>
    <a i18n class="ml-2" routerLink="/login">Sign in!</a>
  </div>
  <form form-content [formGroup]="registerForm" (ngSubmit)="register()">
    <label i18n for="tag" class="block text-900 font-medium mb-2">
      Your Brawl Stars Tag
      <i (click)="showTagHelpCard = true" class="pi pi-question-circle ml-2 cursor-pointer"></i>
    </label>
    <p-inputgroup class="mb-3">
      <p-inputgroup-addon>
        #
      </p-inputgroup-addon>
      <input
      pInputText
      id="tag"
      name="tag"
      placeholder="ABC123DE"
      pKeyFilter="alphanum"
      formControlName="tag">
    </p-inputgroup>

    <app-info-card [(show)]="showTagHelpCard">
      <div card-title i18n>
        Brawl Stars Tag
      </div>
      <p i18n class="text-xl">Why?</p>
      <p i18n>Your tag is your main authenticator in the system. It is also used to confirm winners in tournaments.</p>
      <p i18n class="text-xl">Where do I find it?</p>
      <p i18n>First, click on the profile icon from the main page in Brawl Stars:</p>
      <img src="images/screenshots/tag_instructions_screenshot_1.jpg" class="instructions_image">
      <p i18n>On your profile page, your tag will be under the player icon:</p>
      <img src="images/screenshots/tag_instructions_screenshot_2.jpg" class="instructions_image">
    </app-info-card>

    <label i18n for="password" class="block text-900 font-medium mb-2">Create password</label>
    <input
    pInputText
    id="password"
    name="password"
    type="password"
    i18n-placeholder
    placeholder="Password"
    class="w-full mb-3"
    [pKeyFilter]="blockSpace"
    formControlName="password">

    <div class="flex flex-row mb-3">
      <p-button 
        (click)="showTrophyChangeHelpCard = true" 
        icon="pi pi-question" 
        [rounded]="true" 
        severity="secondary" 
        variant="outlined" 
        size="small">
      </p-button>

      <app-info-card [(show)]="showTrophyChangeHelpCard">
        <div card-title i18n>Account verification</div>

        <p i18n class="text-xl">Why?</p>
        <p i18n>The trophy change after your last battle is just a simple method to verify that the Brawl Stars account is yours, since nobody else can see that information.</p>
        <p i18n class="text-xl">Where do I find it?</p>
        <p i18n>First, open the menu from the main page in Brawl Stars and go to Battle Log:</p>
        <img src="images/screenshots/trophy_change_screenshot_1.jpg" class="instructions_image">
        <p i18n>In your Battle Log, find the last battle you played (the top one) and notice the trophy change:</p>
        <img src="images/screenshots/trophy_change_screenshot_2.jpg" class="instructions_image">
      </app-info-card>

      <label i18n for="trophy-slider" class="block text-900 font-medium ml-2">Your last battle trophy change: <br>
        <span class="highlight">{{ trophyChangeValue > 0 ? '+' + trophyChangeValue : trophyChangeValue }}</span>&nbsp;<app-trophy/>
      </label>
    </div>
    <p-slider
    id="trophy-slider"
    name="trophy-slider"
    formControlName="trophyChange"
    class="w-56"
    [min]="-50"
    [max]="15"
    [step]="1" />
    <p i18n class="mt-1 text-color-secondary text-sm">Move the slider to select</p>

    @if(
      (registerForm.invalid && (registerForm.dirty || registerForm.touched)) ||
      invalidCredentials || tagTaken
    ){
      <div class="alert -mt-1 mb-2">
        @if(tagTaken){
          <div i18n>
            A user with this tag already exists.
          </div>
        }
        @else if(invalidCredentials){
          <div i18n>
            Invalid data. Double-check the tag and trophy change
          </div>
        }
        @else if(registerForm.controls.tag.invalid){
          @if(registerForm.controls.tag.hasError('required')){
            <div i18n>
              Tag is required
            </div>
          }
          @else if (registerForm.controls.tag.hasError('minlength')) {
            <div i18n>
              Tag must be at least 4 characters long.
            </div>
          }
          @else if (registerForm.controls.tag.hasError('maxlength')) {
            <div i18n>
              Tag must not exceed 20 characters in length.
            </div>
          }
        }
        @else if (registerForm.controls.password.invalid) {
          @if(registerForm.controls.password.hasError('required')){
            <div i18n>
              Password is required
            </div>
          }
          @else if (registerForm.controls.password.hasError('minlength')) {
            <div i18n>
              Password must be at least 6 characters long.
            </div>
          }
          @else if (registerForm.controls.password.hasError('maxlength')) {
            <div i18n>
              Password must not exceed 32 characters in length.
            </div>
          }
        }
      </div>
    }

    <button i18n pButton type="submit" class="w-full mt-3" [disabled]="registerForm.invalid" [loading]="loading">Sign Up</button>
    @if(inTelegram){
      <p i18n class="text-color-secondary text-sm">
        <i class="pi pi-check-circle text-sm mr-1" style="color: green;"></i>
        Your Telegram account will be automatically connected
      </p>
    }
  </form>

</app-form-wrapper>