@use 'sass:color';
$highlight-color: #8A2BE2;

// /* Light Theme */
// :root {
//   --primary-color: #3B82F6; /* Electric Blue */
//   --secondary-color: #FF6A3D; /* Sunset Orange */
//   --background-color: #F2F2F2; /* Platinum Gray */
//   --text-color: #1E1E2C; /* Midnight Black */
//   --success-color: #3DFF70; /* Toxic Green */
//   --error-color: #FF6A3D; /* Sunset Orange */
//   --highlight-color: #8A2BE2; /* Vibrant Purple */
// }

// /* Dark Theme */
// .dark-theme {
//   --primary-color: #3B82F6; /* Electric Blue */
//   --secondary-color: #FF6A3D; /* Sunset Orange */
//   --background-color: #1E1E2C; /* Midnight Black */
//   --text-color: #F2F2F2; /* Platinum Gray */
//   --success-color: #3DFF70; /* Toxic Green */
//   --error-color: #FF6A3D; /* Sunset Orange */
//   --highlight-color: #8A2BE2; /* Vibrant Purple */
// }

// body{
//   background-color: var(--background-color);
// }

// /* Override PrimeNG styles with CSS variables */
// .p-button {
//   background-color: var(--primary-color) !important;
//   border-color: var(--primary-color) !important;
//   color: var(--text-color) !important;
//   font-weight: 600;
// }

// .p-inputtext {
//   background-color: var(--background-color) !important;
//   color: var(--text-color) !important;
// }

// .p-toast-success {
//   background-color: var(--success-color) !important;
//   color: var(--text-color) !important;
// }

// .p-toast-error {
//   background-color: var(--error-color) !important;
//   color: var(--text-color) !important;
// }

:root {
  --p-background-color: var(--p-surface-0);
  --p-text-color-secondary: color.adjust($color: var(--p-text-color), $lightness: 50%);
}

.app-dark {
  --p-background-color: var(--p-surface-950);
}

.text-secondary{
  color: var(--p-text-secondary);
}

.material-icons, .material-icons-outlined{
  color: var(--p-text-color);
}

a[routerLink], .internal_link{
  text-decoration: underline;
  text-decoration-color: $highlight-color;
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.25rem;
  font-weight: 500;
  cursor: pointer;
}
a[routerLink]:visited{
  color: inherit;
}

.text-color-secondary{
  color: colo
}