.custom-card-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.custom-card {
  width: 90%;
  max-width: 600px;
  position: relative;
  max-height: 80%;
  overflow-y: scroll;
}

.close-icon {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.card-content {
  margin-bottom: 1.5rem;
  margin-top: -2.5rem;
}